<a href="https://colab.research.google.com/github/Mithra-py/python_plus/blob/main/plus4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def square(x):
  return x ** 2

In [ ]:
square(4)

16

In [ ]:
print((lambda x : x ** 2)(2))

4

In [ ]:
(lambda x : "odd" if x % 2 != 0 else "even")(6)

'even'

In [ ]:
 (lambda x : "odd" if x % 2 != 0 else "even")(5)

'odd'

In [ ]:
(lambda x : x[::-1])("ahmet")

'temha'

In [ ]:
(lambda x : x[::-1])([1, 2, 3, 4])

[4, 3, 2, 1]

In [ ]:
(lambda a, b : (a + b) / 2)(3, 5)

4.0

In [ ]:
formul = (lambda a, b : (a + b) / 2)(3, 5)

In [ ]:
print(formul)

4.0

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]

In [ ]:
for a in numbers:
  print(a, ":", (lambda x : "odd" if x % 2 != 0 else "even")(a))

1 : odd
2 : even
3 : odd
4 : even
5 : odd
6 : even

In [ ]:
tekçift = lambda x : "odd" if x % 2 != 0 else "even"

In [ ]:
list(map(tekçift, numbers))

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
def kare(b) :
  return b ** 2

In [ ]:
sonuc = map(kare, numbers)
print(*sonuc)

1 4 9 16 25 36

In [ ]:
topla = lambda x, y, z : x + y + z

In [ ]:
topla("a", "l", "i")

'ali'

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z : x + y + z, letter1, letter2, letter3)

print(list(numbers))

['one', 'six', 'ten', 'two']

In [ ]:
nums1 = [9, 6, 7, 4]
nums2 = [3, 6, 5, 8]
func = lambda x, y : (x + y) / 2

In [ ]:
numbers = map(func, nums1, nums2)
print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [ ]:
words1 = ["you", "much", "hard"]
words2 = ["i ", "you ", "he "]
words3 = ["love ", "ate ", "works "]
sentence = map(lambda x, y, z : y + z + x, words1, words2, words3)
print(list(sentence))

['i love you', 'you ate much', 'he works hard']

In [ ]:
words1 = ["you", "much", "hard"]
words2 = ["i", "you", "he"]
words3 = ["love", "ate", "works"]
sentence = map(lambda x, y, z : x + " " + y + " " + z, words2, words3, words1)

for i in sentence:
  print(i)

i love you
you ate much
he works hard

In [ ]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

even = filter(lambda x:x%2 == 0, first_ten)
print('Even numbers are: ', list(even))

Even numbers are:  [0, 2, 4, 6, 8]

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]

In [ ]:
wordlen = filter(lambda x : len(x) < 5, words)
print("Words with less than 5 letters are", * wordlen)

Words with less than 5 letters are swim me kiwi

In [ ]:
for i in filter(lambda x : len(x) < 5, words):
  print(i)

swim
me
kiwi

In [ ]:
vowel_list = ["a", "e", "i", "o", "u"]
letter_ten = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [ ]:
vowels = filter(lambda x : x in vowel_list, letter_ten)
print(list(vowels))

['a', 'e', 'i']

In [ ]:
(lambda x : print(x, ":)"))("ramazan")

ramazan :)

In [ ]:
(lambda x : print(x, ":("))("ramazan")

ramazan :(

In [ ]:
(lambda x : print(x, ":|"))("ramazan")

ramazan :|

In [ ]:
def functioner(emoji):
  return lambda x : print(x, emoji)

In [ ]:
myPrint_smile = functioner(":)")
myPrint_sad = functioner(":(")
myPrint_neutral = functioner(":|")

In [ ]:
myPrint_smile("ramazan")

ramazan :)